.classpath
.project
.settings/
/build/target
/parasoft-findings-teamcity-agent/target
/parasoft-findings-teamcity-server/target
/parasoft-findings-teamcity-common/target
/target/
/.arcconfig
/servers/
.idea